
.gallery {
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 0;

  }

  .galleryGrid{
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    padding-right: 110px;
    padding-left: 110px; 
    gap: 24px;
  }
  
  .galleryItem {
    overflow: clip;
    /* border-radius: 8px; */
  
  }
  
  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    /* border-radius: 8px; */
  }
  
  .image:hover {
    transform: scale(1.1); 
    overflow: hidden;
    z-index: 0;
  }

  .searchBar{
    color:black;
    padding: 80px;
  }

  .p{
    color:black;
  }