.home-header{

    padding:3rem;
    font-size: 100px;
    font-weight:800;
    color:black;

    

}

.home-container{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    border: 3px solid blue;
   
    background-color: white;
    height:1000px;
    width: 100%;
}

